body {
    margin: 0;
    padding: 0;
    background-color: #D6E0E2;
    font-size: 25px;
}

header {
    background-color: #3B454F;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 36px;
}

.logo-image {
    width: 100px;
    height: 100px;
}

section {
    padding: 40px;
    text-align: center;
}

h2{
    color: #7B9080;
    font-size: 37px;
}

#searchForm {
    background-color: #7B9080;
    color: white;
    padding: 15px;
    margin: 8px;
    text-align: center;
    box-sizing: border-box;
    border: 20px solid #3B454F;
}

footer {
    background-color: #3B454F;
    color: white;
    text-align: center;
    padding: 20px;
   bottom: 0;
   width: 100%;
   font-size: 25px;
}

#map {
    height: 400px;
    width: 100%;
    border: 10px solid #3B454F;
    padding: 10px;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}